body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f9;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    }
    
    header {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
    nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    }
    
    nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    }
    
    nav a:hover {
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
    }
    
    header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    }
    
    h1 {
    font-size: 2.5rem;
    }
    
    p {
    margin-bottom: 10px;
    }

    .intro {
        padding-bottom: 20px;
    }
    
    .adjustment {
        padding-left: 20px;
        padding-right: 20px;
    }

    main {
    background-color: #2d82b7;
    color: #fff;
    padding: 20px 0;
    }
    
    main a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2563eb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    }
    
    main a:hover {
    background-color: #1e40af;
    transform: scale(1.2);
    }
    
    section {
    margin: 20px 0;
    padding: 40px 20px;
    border-radius: 10px;
    color: #1f2937;
    }
    
    #about {
    background-color: #e5e7eb;
    }
    
    #projects {
    background-color: #f1f5f9;
    }
    
    #contact {
    background-color: #2563eb;
    color: #f9fafb;
    }
    
    
    h2 {
    font-size: 2rem;
    margin: 30px 0;
    }
    
    .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    }
    
    .project {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .project-container .project.visible {
        opacity: 1;
        transform: translateY(0);
    }
    
    .project:hover {
        opacity: 1;
        transform: translateY(0);
    }

    .project h3 {
    font-size: 1.2 rem;
    }
    
    .project p {
    font-size: 0.9rem;
    color: #555;
    }
    
    .project-image {
    border-radius: 10px;
    width: 150px;
    height: auto;
    margin-bottom: 15px;
    
    }
    
    
    footer {
    bottom: 0;
    width: 100%;
    background-color: #111827;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    }
    
    header, main, footer {
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin-bottom: 10px;
    border-radius: 10px;
    }
    
    button {
    background-color: #2563eb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    button:hover {
    background-color: #1e40af;
    }

    .social-icons a {
        margin: 0 10px;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        transition: color 0.3s, transform 0.3s;
    }
    .social-icons a:hover {
        color: #2563eb;
        transform: scale(1.2);
    }
    
    @media (max-width: 600px) {
    body {
    font-size: 14px;
    }
    header, main, footer {
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    nav ul {
    flex-direction: column;
    gap: 15px;
    }
    .adjustment {
        padding-left: 0;
        padding-right: 0;
    }
    }
    
    #certifications {
        text-align: center;
        margin: 40px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      #certifications h2 {
        font-size: 2rem;
        margin-bottom: 30px;
        color: #1f2937;
      }
 
      .certificates {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 1opx;
        margin-bottom: 40px;
      }
      
      
      
      .certificates img {
        max-width: 70%; 
        height: auto; 
        border-radius: 8px;
        margin-bottom: 10px; 
      }
      
      #scrollToTop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 50px;
        width: 50px;
        padding: 0;
        background-color: #2563eb;
        color: #fff;
        border: none;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-size: 24px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: none; /* 初期状態は非表示 */
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
      
      #scrollToTop:hover {
        background-color: #1e40af;
        transform: scale(1.1); /* ホバー時の拡大 */
      }
      
    